.page-template-beneficios {
  .section-jumbotron {
    height: 50vh;
    @include media-breakpoint-down(md) {
      height: 100vh;
    }
  }
  .jumbotron {
    height: 50vh;
    @include media-breakpoint-down(md) {
      height: 100vh;
    }
  }
  .jumbotron-title {
    margin-top: auto;
    margin-bottom: 20px;
    @include media-breakpoint-down(md) {
      text-align: left !important;
    }
  }

  .jumbotron-text {
    margin-bottom: auto !important;
    font-size: 18px;
    line-height: 1.61;
  }

  .section-beneficios-puntos {
    padding-bottom: 20px;
    .btn-primary {
      @include media-breakpoint-down(md) {
        margin-left: 12px !important;
        margin-top: 20px !important;
      }
    }
  }

  .section-beneficios-certificados {
    padding-top: 80px;
  }

  .section-beneficios-tapon {
    padding-bottom: 0;
  }

  .beneficios-puntos-main-text {
    margin: 0 0 60px;
    font-family: "roboto";
    font-size: 18px;
    line-height: 1.61;
    color: #242424;
  }

  .beneficios-puntos-body {
    font-family: "roboto";
    font-size: 16px;
    line-height: 1.5;
    color: #242424;
    p {
      margin-bottom: 0;
    }
  }

  .beneficios-puntos-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    @include media-breakpoint-down(md) {
      padding-bottom: 20px;
    }
    .beneficios-puntos-picture img {
      max-width: 65px;
      @include media-breakpoint-down(md) {
        max-width: 50px;
        justify-content: flex-start;
      }
    }

    .beneficios-puntos-body {
      padding-left: 20px;
    }
  }

  .beneficios-tapon-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 80px;
    &:nth-child(even) {
      .img {
        order: 0;
      }
      .text {
        order: 1;
        @include media-breakpoint-down(md) {
          order: 0;
        }
      }
    }
    &:nth-child(odd) {
      .img {
        order: 1;
        @include media-breakpoint-down(md) {
          order: 0;
        }
      }
      .text {
        order: 0;
      }
    }
  }

  .section-beneficios-puntos .btn-primary {
    margin-top: 60px;
  }

  .beneficios-tapon-title {
    font-family: "presicav";
    font-size: 28px;
    line-height: 1.07;
    font-weight: 700;
    margin-bottom: 40px;
    @include media-breakpoint-down(md) {
      font-size: 21px;
      line-height: 1.1;
    }
  }

  .beneficios-tapon-item-title {
    font-family: "henderson-sans-basic";
    font-size: 21px;
    line-height: 1.1;
    font-weight: bold;
    color: #242424;
    margin-bottom: 40px;
    @include media-breakpoint-down(md) {
      font-size: 18px;
      line-height: 1.61;
    }
  }

  .beneficios-tapon-text {
    ul {
      margin-bottom: 0;
    }
    ul li {
      margin: 0 0 20px;
      list-style: none;

      &:last-child {
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
          margin-bottom: 20px;
        }
      }

      &::marker {
        display: none;
      }

      &:before {
        content: "";
        background-image: url("../images/chek.png");
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        height: 28px;
        min-width: 20px;
        width: 20px;
        margin-left: -40px;
        margin-right: 15px;
        float: left;
      }
    }
  }

  .beneficios-tapon-row {
    img {
      max-width: 100%;
    }
  }

  .beneficios-certificados-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #e5e5e5;
    padding: 10px;
    height: 100%;
    min-height: 100px;
    img {
      max-width: 100%;
      max-height: 70px;
    }
  }
  .beneficios-certificados {
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }
  .beneficios-certificados .beneficios-certificados-title {
    font-family: "roboto";
    font-size: 12px;
    line-height: 1.5;
    margin: 10px 0 0 0;
    opacity: 0.5;
  }
  h2.beneficios-certificados-title {
    font-family: "henderson-sans-basic";
    font-size: 21px;
    font-weight: bold;
    line-height: 1.1;
    color: #242424;
    margin-bottom: 40px;
    @include media-breakpoint-down(md) {
      font-size: 18px;
      line-height: 1.61;
    }
  }
  .beneficios-propiedades-title {
    font-family: "presicav";
    font-size: 38px;
    font-weight: bold;
    line-height: 1.11;
    color: #242424;
    margin-bottom: 80px;
    @include media-breakpoint-down(md) {
      font-size: 28px;
      line-height: 1.07;
    }
  }

  .section-beneficios-propiedades {
    background-color: #f8f9fa;
  }
  .beneficios-propiedades-picture {
    margin-bottom: 40px;
    img {
      max-height: 50px;
    }
  }

  .beneficios-propiedades-cta {
    margin-bottom: 80px;
    .beneficios-propiedades-title {
      font-family: "henderson-sans-basic";
      font-size: 21px;
      font-weight: bold;
      line-height: 1.1;
      color: #242424;
      margin-bottom: 20px;
    }
    .beneficios-propiedades-body {
      font-family: "roboto";
      font-size: 16px;
      line-height: 1.5;
      color: #242424;
    }
  }

  .section-form {
    margin-top: 0;
    background-color: #172332;
    &::before {
      content: none;
    }
  }

  #footer {
    margin-top: 0;
  }

  .beneficios-tapon-anchors {
    a {
      border: 1px solid #b67f5f;
      padding: 5px 40px;
      color: #b67f5f;
      font-weight: 700;
      &:hover {
        color: white;
        transition: 0.2s;
        background-color: #b67f5f;
      }
      @include media-breakpoint-down(md) {
        margin: 5px;
        padding: 5px 20px;
      }
    }
    .beneficios-tapon-item-anchor + .beneficios-tapon-item-anchor {
      border-left-width: 0;
      @include media-breakpoint-down(md) {
        border-left-width: 1px;
      }
    }
    & > .text {
      display: flex;
      justify-content: center;
      align-items: center;
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }
}
