.blog {
  .section-jumbotron {
    height: 50vh;
  }
  .jumbotron {
    height: 50vh;
    @include media-breakpoint-down(md) {
      align-items: flex-start;
    }
  }
  .jumbotron-title {
    margin-top: auto;
    margin-bottom: auto;
  }
  article:nth-child(1) {
    min-width: 100%;
  }
  .card {
    border: none;
    border-radius: 0;
  }
  .post-thumbnail {
    margin: 0;
    img {
      min-height: 195px;
      object-fit: cover;
      object-position: center center;
    }
  }

  #nav-below .btn {
    margin: 0 20px;
  }

  .pagination-bar .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include media-breakpoint-down(md) {
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }

  .pagination-bar {
    .page-numbers {
      padding: 10px;
    }
    a.page-numbers:not(.next),
    a.page-numbers:not(.prev) {
      display: inline-flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 10px;
      font-family: "roboto";
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      color: #172332;
      text-decoration: underline;
      transition: 0.2s all;

      &:hover {
        opacity: 0.8;
        color: #172332;
      }

      @include media-breakpoint-down(md) {
        order: 1;
      }
    }
    span.page-numbers:not(.next),
    span.page-numbers:not(.prev) {
      @include media-breakpoint-down(md) {
        order: 1;
      }
    }

    a.page-numbers.prev,
    a.page-numbers.next {
      @extend .btn, .btn-primary;
      color: white !important;
      text-decoration: none;
      padding: 20px;

      &:hover {
        color: white !important;
        text-decoration: none;
      }

      @include media-breakpoint-down(md) {
        order: 0;
        max-width: 100%;
        margin: 20px 0;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    .nav-links > *:first-child {
      margin-right: auto;
    }

    .nav-links > *:last-child {
      margin-left: auto;
    }

    .nav-links > .current:first-child {
      margin-left: auto;
      margin-right: inherit;
      @include media-breakpoint-down(md) {
        margin-left: inherit;
      }
    }

    .nav-links > .current:last-child {
      margin-right: auto;
      margin-left: inherit;
      @include media-breakpoint-down(md) {
        margin-right: inherit;
      }
    }
  }

  .section-articles-title {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f8f9fa;
    h2 {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.07;
      color: #242424;
      font-family: "presicav";

      @include media-breakpoint-down(md) {
        font-family: "henderson-sans-basic";
        font-size: 21px;
        font-weight: bold;
        line-height: 1.1;
        color: #242424;
        margin-right: auto;
        padding: 0 20px;
      }
    }
  }

  .articles {
    @extend .row;
    article:not(:first-child) {
      @extend .col-md-4;
      .card {
        border: solid 1px #e5e5e5;
        background-color: #fff;
        margin-bottom: 40px !important;
        min-height: calc(100% - 40px);
      }
      .card-image,
      .card-text {
        @extend .col-12;
      }
      .card-title {
        margin-bottom: 20px;
      }
      .card-title a {
        display: block;
      }
      .card-text {
        padding: 20px;
        font-family: "roboto";
        font-size: 16px;
        line-height: 1.5;
        color: #242424;
      }
      .link-blog {
        font-family: "roboto";
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        color: #b67f5f;
        text-decoration: underline;
        transition: 0.2s all;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .card-body {
      padding: 0;
    }
  }
  .card-title a {
    display: block;
    font-family: "henderson-sans-basic";
    font-size: 21px;
    font-weight: bold;
    line-height: 1.1;
    color: #242424;
  }
}

.blog:not(.paged) {
  article:first-child {
    order: 0;
    margin-bottom: 60px;
    transform: none !important;
    .card-title {
      margin-bottom: 20px;
    }
    .card {
      border: none;
      background-color: #f8f9fa;
      padding-bottom: 60px !important;
      margin-bottom: 0 !important;
    }
    .card-body {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      @extend .row;
    }
    .card-image {
      @extend .col-md-4, .offset-md-1, .col-10;
      @include media-breakpoint-down(md) {
        width: calc(100% - 40px);
      }
    }
    .card-text {
      @extend .col-md-6, .col-10;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-family: "roboto";
      font-size: 16px;
      line-height: 1.5;
      color: #242424;
      margin-right: auto;
      a {
        margin-top: auto;
      }
      @include media-breakpoint-down(md) {
        margin-top: 20px;
        width: calc(100% - 40px);
        margin: 20px auto 0;
      }
      p {
        margin-bottom: 40px;
      }
    }
    .link-blog {
      @extend .btn, .btn-secondary, .btn-sm;
    }
  }
}

.blog.paged {
  article:first-child {
    min-width: inherit;
  }
  .section-articles-title {
    display: none !important;
  }
  .articles {
    @extend .row;
    article {
      @extend .col-md-4;
      .card {
        border: solid 1px #e5e5e5;
        background-color: #fff;
        margin-bottom: 40px !important;
      }
      .card-image,
      .card-text {
        @extend .col-12;
      }
      .card-title {
        margin-bottom: 20px;
      }
      .card-title a {
        display: flex;
      }
      .card-text {
        padding: 20px;
        font-family: "roboto";
        font-size: 16px;
        line-height: 1.5;
        color: #242424;
      }
      .link-blog {
        font-family: "roboto";
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        color: #b67f5f;
        text-decoration: underline;
        transition: 0.2s all;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .card-body {
      padding: 0;
    }
  }
}
