.cap-animation,
.caps {
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    transition: 0.4s all;
  }
}

.cap-animation {
  justify-content: flex-start;
  padding: 180px 0;
}

.caps {
  z-index: 0;
}

.cap {
  position: absolute;
  width: 200px;
}

.cap.cap-1 {
  position: relative;
}

.cap-1 {
  z-index: 10;
  width: 200px;
  height: 300px;
  top: 0;
  background-image: url("../images/corcho.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
}

.cap-2 {
  z-index: 20;
  transform: translateY(50px);
  height: 86px;
  background-image: url("../images/disco_01.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  top: 100%;
}
.cap-3 {
  z-index: 30;
  transform: translateY(90px);
  height: 91px;
  background-image: url("../images/disco_02.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  top: 100%;
}

.cap-icon {
  position: absolute;
  width: 144px;
  height: 116px;
  background-size: cover;
  &:nth-child(odd) {
    transform: translateX(50px);
    right: 100%;
  }
  &:nth-child(even) {
    transform: translateX(-50px);
    left: 100%;
  }
  &-1 {
    opacity: 0;
    top: 0;
    background-image: url("../images/icono_seguridad_01.png");
  }
  &-2 {
    opacity: 0;
    top: 50%;
    background-image: url("../images/icono_seguridad_02.png");
  }
  &-3 {
    opacity: 0;
    top: 50%;
    background-image: url("../images/icono_precision_01.png");
  }
  &-4 {
    opacity: 0;
    top: 0%;
    background-image: url("../images/icono_precision_02.png");
  }
  &-5 {
    opacity: 0;
    top: 0;
    background-image: url("../images/icono_granulado_01.png");
  }
  &-6 {
    opacity: 0;
    top: 25%;
    background-image: url("../images/icono_granulado_02.png");
  }
  &-7 {
    opacity: 0;
    top: 50%;
    background-image: url("../images/icono_disco_01.png");
  }
  &-8 {
    opacity: 0;
    top: 0;
    background-image: url("../images/icono_disco_02.png");
  }
  &-9 {
    opacity: 0;
    top: 0;
    background-image: url("../images/icono_personalizacion_01.png");
  }
  &-10 {
    opacity: 0;
    top: 50%;
    background-image: url("../images/icono_personalizacion_02.png");
  }
}

/*Text*/

.cap-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 100;
  position: relative;
  margin-top: 80px;
  margin-bottom: 20px;
  @include media-breakpoint-up(md) {
    height: 50vh;
    margin-top: 0;
    margin-bottom: 0;
  }
  h4 {
    font-family: "presicav";
    font-size: 28px;
    font-weight: bold;
    line-height: 1.07;
    color: #242424;
    margin-bottom: 40px;
  }
  li {
    padding: 0;
    list-style: none;
    position: relative;
    align-items: center;
    + li {
      margin: 20px 0 0 0;
    }
    &:before {
      background-color: #334f70;
      content: "";
      float: left;
      height: 10px;
      position: relative;
      width: 10px;
      top: 6px;
      left: -10px;
      border-radius: 50%;
    }
  }
  ul {
    margin: 0 0 40px 0;
    padding: 0 0 0 10px;
  }
}

.cap-titles {
  position: relative;
  margin-bottom: 100px;
  margin-top: -40px;
}

.cap-text-title,
.cap-text-main-title {
  text-align: center;
}

.cap-text-main-title h2 {
  position: relative;
  font-family: "presicav";
  font-size: 38px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: #242424;
}

.cap-animation .cap-text-block {
  opacity: 0;
  position: absolute;
  transition: 0.4s all;
  transform: translateX(-50px);
  z-index: 1;
}
