.page-template-descargas {
  .section-jumbotron {
    height: 50vh;
  }
  .jumbotron {
    height: 50vh;
  }
  .jumbotron-title {
    margin-top: auto;
    margin-bottom: 20px;
  }

  .guias {
    &:nth-child(3n + 1) {
      transition-delay: 0.1s;
    }
    &:nth-child(3n + 2) {
      transition-delay: 0.2s;
    }
    &:nth-child(3n + 3) {
      transition-delay: 0.3s;
    }
  }

  .guia-main-text {
    margin: 0 0 60px;
    font-family: roboto;
    font-size: 18px;
    line-height: 1.61;
    color: #242424;
  }

  .guia-main-title {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .guia-cta + .guia-cta {
    @include media-breakpoint-down(lg) {
      margin-top: 60px;
    }
  }

  .guia-cta {
    border: solid 1px #e5e5e5;
    margin-bottom: 60px;
  }

  .guia-picture img {
    width: 100%;
  }

  .guia-main-title {
    font-family: "henderson-sans-basic";
    font-size: 21px;
    line-height: 1.1;
    font-weight: bold;
    color: #242424;
  }

  .guia-title h3 {
    padding: 20px;
    font-family: "roboto";
    font-size: 18px;
    font-weight: bold;
    line-height: 1.61;
    color: #242424;
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
      padding: 10px 20px;
    }
  }

  .guia-body {
    padding: 20px;
    font-family: "roboto";
    font-size: 16px;
    line-height: 1.5;
    color: #242424;
    @include media-breakpoint-down(md) {
      padding: 10px 20px;
    }
  }

  .guia-link {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    font-family: "roboto";
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #172332;
    text-decoration: underline;
    transition: 0.2s all;
    @include media-breakpoint-down(md) {
      padding: 10px 20px 20px;
    }

    &:hover {
      opacity: 0.8;
      color: #172332;
    }
  }

  .section-form {
    &:before {
      background-color: #172332;
      height: 100%;
    }
  }
  #footer {
    margin-top: 0;
  }

  .section-form {
    &:before {
      background-color: #172332;
      height: 100%;
    }
  }
  #footer {
    margin-top: 0;
  }
  .section-guia {
    padding-bottom: 40px;
  }
  .section-form {
    margin-top: 0;
  }
}
