#footer {
  background-color: #1f2120;
  color: white;
  position: relative;
  z-index: 1;
  margin-top: 80px;
  .third_widget_area {
    @extend .col-12, .col-md-2;
    &:nth-child(4),
    &:nth-child(5) {
      @extend .col-12, .col-md-3;
    }
  }
  .footer_widget_area {
    @extend .d-flex, .flex-row, .flex-wrap;
    & > p,
    & > nav {
      @extend .col-12, .col-md-6;
    }
    & > nav {
      @extend .d-flex, .justify-content-end;
      @include media-breakpoint-down(md) {
        & > .menu {
          margin-right: auto;
          margin-top: 10px;
        }
      }
    }
    @include media-breakpoint-down(md) {
      opacity: 0.5;
    }
  }
  > .container:first-child {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  a {
    color: white;
    &:hover {
      opacity: 0.8;
    }
    &:visited {
      color: white;
    }
  }
  .widget-title,
  h3 {
    font-family: "roboto";
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #afafaf;
    margin-bottom: 20px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    font-family: "roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    @include media-breakpoint-down(md) {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    &.tel:before,
    &.mail:before {
      content: "";
      width: 15px;
      height: 15px;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 10px;
    }
    &.tel,
    &.mail {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      @include media-breakpoint-down(md) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
    &.tel:before {
      background-image: url("../images/icono_telefono.png");
    }
    &.mail:before {
      background-image: url("../images/icono_mail.png");
    }
  }
  .third_widget_area:last-child li + li {
    padding-top: 20px;
  }
  .container-fluid {
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      height: 1px;
      background-color: #464646;
      top: 0;
      width: 100vw;
    }
  }

  .rrss-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    li + li {
      padding-top: 0 !important;
      padding-left: 10px;
    }
    img {
      max-width: 30px;
      height: auto;
    }
  }

  .footer_widget_area {
    align-items: center;
    p,
    li {
      font-family: "roboto";
      font-size: 12px;
      line-height: 1.5;
      margin: 0;
    }
  }

  @include media-breakpoint-down(md) {
    .third_widget_area + .third_widget_area {
      padding-top: 20px;
    }
    .third_widget_area:nth-child(2) ul,
    .third_widget_area:nth-child(3) ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li + li {
        padding-left: 15px;
        margin-left: 15px;
        border-left: 1px solid white;
      }
    }
  }

  .menu-item a[aria-current="page"] {
    color: white;
  }

  .wp-block-image.size-full {
    max-width: 80px;
  }
}

#menu-main-menu-1 {
  li:before {
    content: none;
  }
}

.footer_widget_area .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  &:before {
    content: none;
  }
  li:before {
    content: none;
  }
  li + li {
    padding: 0 0 0 10px !important;
    margin: 0 0 0 10px !important;
    border-left: 1px solid white;
  }
}
