.page-template-page-full,
.page-template-default.page,
.post-template-default.single {
  .section-jumbotron {
    height: 50vh;
    .container-fluid {
      height: 50vh;
    }
  }
  .jumbotron {
    height: 50vh;
  }
  .jumbotron-title {
    margin-top: auto;
    margin-bottom: auto;
  }
  article,
  .content {
    h1 {
      font-family: "presicav";
      font-size: 28px;
      font-weight: bold;
      line-height: 1.07;
      color: #242424;
      margin: 20px 0 40px;
    }
    .post-thumbnail img {
      width: 100%;
    }
    .post-thumbnail + .date-publish {
      margin-bottom: 40px;
    }
    .date-publish {
      margin-top: 10px;
    }

    div > ul {
      padding: 0;
    }

    div > ul > li {
      padding: 0;
      list-style: none;
      position: relative;
      align-items: center;
      + li {
        margin: 20px 0 0 0;
      }
      strong:first-child {
        display: inline;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.61;
        color: #242424;
        + p {
          margin-top: 15px;
        }
      }
      &:before {
        background-color: #334f70;
        content: "";
        float: left;
        height: 10px;
        position: relative;
        width: 10px;
        top: 7px;
        left: 0;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
    .date-publish {
      opacity: 0.5;
      font-family: "roboto";
      font-size: 14px;
      line-height: 1.5;
      color: #242424;
    }
    h2 {
      font-family: "roboto";
      font-size: 28px;
      font-weight: bold;
      line-height: 1.1;
      color: #242424;
    }
    h3 {
      font-family: "roboto";
      font-size: 21px;
      font-weight: bold;
      line-height: 1.1;
      color: #242424;
    }
    h4 {
      font-family: "roboto";
      font-size: 18px;
      font-weight: bold;
      line-height: 1.61;
      color: #242424;
    }
    h5 {
      font-family: "roboto";
      font-size: 16px;
      font-weight: bold;
      color: #242424;
    }
    h6 {
      font-family: "roboto";
      font-size: 14px;
      font-weight: bold;
      color: #242424;
    }
    .back-to-blog {
      font-family: "roboto";
      font-size: 16px;
      line-height: 1.5;
      color: #334f70;
      text-decoration: underline;
      transition: 0.2s all;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
    p {
      margin-bottom: 20px;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .wp-block-image figcaption {
      opacity: 0.5;
      font-family: "roboto";
      font-size: 14px;
      line-height: 1.5;
      color: #242424;
      text-align: left;
    }
    .wp-block-image {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    ul {
      margin: 20px 0;
    }
  }
  #footer {
    margin-top: 0;
  }
}

.page-template-default.page {
  .content {
    margin: 100px 0;

    h1.entry-title {
      font-family: "presicav";
      font-size: 28px;
      font-weight: bold;
      line-height: 1.07;
      color: #242424;
    }
    ul {
      padding: 0;
    }
    ul > li {
      padding: 0;
      list-style: none;
      position: relative;
      align-items: center;
      + li {
        margin: 20px 0 0 0;
      }
      strong:first-child {
        display: inline;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.61;
        color: #242424;
        + p {
          margin-top: 15px;
        }
      }
      &:before {
        background-color: #334f70;
        content: "";
        float: left;
        height: 10px;
        position: relative;
        width: 10px;
        top: 7px;
        left: 0;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
}
