main#main {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto";
  color: #242424;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  background-color: #172332;
  border-radius: 2px;
  border: 0;
  padding: 15px 25px;
  transition: 0.2s all;

  max-width: max-content;
  font-family: "roboto";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  transition: 0.2s all;
  &:hover {
    background-color: #172332;
    opacity: 0.8;
    cursor: pointer;
  }
  &:active {
    background-color: #334f70;
  }
  &:focus {
    background-color: #334f70;
    opacity: 1;
  }
}

.btn-secondary {
  background-color: #b67f5f;
  border-radius: 2px;
  border: 0;
  padding: 15px 25px;
  transition: 0.2s all;

  max-width: max-content;
  font-family: "roboto";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  transition: 0.2s all;
  &:hover {
    background-color: #8c5c40;
    opacity: 0.8;
    cursor: pointer;
  }
  &:active {
    background-color: #d9a57a;
  }
  &:focus {
    background-color: #d9a57a;
    opacity: 1;
  }
}

.btn-sm {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px 20px;
}

.btn {
  box-shadow: none !important;
}

.modal-body {
  position: relative;
  padding: 0px;
}
.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
  margin-bottom: -1px;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.modal-content {
  .modal-close {
    position: absolute;
    position: absolute;
    right: -40px;
    top: -15px;
  }
}

.close.modal-close {
  color: white;
  opacity: 0.5;
  transition: 0.2s all;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.anchor-menu {
  position: fixed;
  top: calc(150px + 50vh);
  left: 0;
  z-index: 10;
  @include media-breakpoint-down(md) {
    position: fixed;
    top: inherit;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  .dropdown > .dropdown-toggle {
    width: 60px;
    height: 50px;
    background-color: #334f70;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "roboto";
    font-size: 18px;
    font-weight: bold;
    line-height: 1.61;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 20;
    &:hover {
      cursor: pointer;
    }
    &:after {
      content: none;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  .dropdown-menu.show {
    transform: none !important;
    top: 0 !important;
    z-index: 10;

    @include media-breakpoint-down(md) {
      top: inherit !important;
      bottom: 50px;
    }
  }
  .dropdown-menu {
    border-radius: 0;
    border-top: 50px solid #334f70;
    background-color: white;
    width: 450px;

    @include media-breakpoint-down(md) {
      max-width: inherit;
      border: none;
    }
  }
  .anchor-menu-container {
    margin: 20px !important;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    li {
      width: 100%;
      &:before {
        content: none !important;
      }
    }
    li + li {
      padding: 10px 0 0 0 !important;
      margin: 10px 0 0 0 !important;
      border-top: solid 1px #e5e5e5;
    }
    .anchor-menu-link {
      font-family: "roboto";
      font-size: 14px;
      font-weight: normal;
      line-height: 1.5;
      color: #242424;
      &:hover {
        color: #334f70;
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
  .close {
    position: absolute;
    right: 20px;
    top: -35px;
    width: 20px;
    height: 20px;
    opacity: 1;
    z-index: 10;
  }
  .close:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 20px;
    width: 2px;
    background-color: white;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}
