header.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #1f2120;
  padding: 0 13px;
  min-height: 70px;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include media-breakpoint-down(lg) {
    padding: 0;
  }
  .container-fluid {
    padding: 0 20px;
  }
  .navbar {
    width: 100%;
  }
  .navbar-brand {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .navbar-brand img {
    height: auto;
    width: 177px;
  }

  .navbar-brand {
    padding: 10px 0;
  }
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

/*Remove when WPML active*/
.navbar-dark .navbar-nav .menu-item:nth-last-child(2) .nav-link {
  padding-right: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 14px;
  line-height: 21px;
  padding-right: 20px;
  &:hover {
    color: white;
    opacity: 0.8;
  }
  @include media-breakpoint-down(lg) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.navbar-dark .navbar-toggler {
  border: none;
  color: transparent;
}
.dropdown-menu[data-bs-popper] {
  left: inherit;
  right: 0;
}

.wpml-ls-item {
  display: none;
}

.navbar-dark .navbar-nav .nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &.active {
    font-weight: bold !important;
  }
}

.dropdown-toggle:after {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-left: 0;
  vertical-align: inherit;
  width: 12px;
  height: 12px;
  background-image: url("../images/flecha_idioma.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}

@include media-breakpoint-down(lg) {
  #menu-main-menu {
    height: 100vh;
  }

  .navbar-collapse {
    margin-top: 20px;
    border-top: solid 1px #464646;
  }

  #menu-main-menu {
    .menut-item {
      font-family: "roboto";
      font-size: 18px;
      font-weight: bold;
      line-height: 1.61;
      color: #fff;
    }

    .menu-item + .menu-item {
      border-top: solid 1px #464646;
    }
  }

  .navbar-dark .navbar-nav .nav-link,
  .dropdown-item {
    font-family: "roboto";
    font-size: 18px;
    font-weight: bold;
    line-height: 1.61;
    color: #fff;
    padding: 0;
    margin: 20px 0;
  }
  .menu-item + .menu-item {
    border-top: none;
    @include media-breakpoint-up(lg) {
      border-top: 1px solid #464646;
    }
  }

  li.wpml-ls-item a.dropdown-item {
    padding-left: 5px;
    margin-left: 10px;
    border-left: 2px solid white;
  }

  .wpml-ls-item {
    display: none;
    // display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .nav-link {
      display: none;
    }
    .dropdown-toggle:after {
      content: none;
    }
    .dropdown-menu {
      display: flex;
      background-clip: padding-box;
      background-color: transparent;
      border: none;
      border-radius: 0;
      color: white;
      min-width: 10rem;
      padding: 0 0;
      position: relative;
      text-align: left;
    }
    .dropdown-item {
      background-color: transparent;
      &:hover {
        color: white;
        opacity: 0.8;
      }
    }
  }
}
