.section {
  position: relative;
  z-index: 0;
  background-color: white;
  padding: 80px 0;

  &-animation {
    height: 600vh;
    z-index: 0;

    @include media-breakpoint-down(lg) {
      height: inherit;
    }
  }

  &-jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2120;
    height: calc(100vh - 70px);
    padding: 0 0;
    background-size: cover;
    background-position: center;
  }

  &-ring {
    background-color: #1f2120;
    p {
      color: white;
      margin-top: 40px;
    }
  }

  &-controles {
    background-color: #f8f9fa;
  }
  &-articles {
    margin-top: -100px;
    position: relative;
    z-index: 1;
  }
}
