.section {
  position: relative;
  z-index: 0;
  background-color: white;
  padding: 80px 0;

  &-animation {
    height: 600vh;
    z-index: 0;

    @include media-breakpoint-down(lg) {
      height: inherit;
    }
  }

  &-jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2120;
    height: calc(100vh - 70px);
    padding: 0 0;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    video {
      position: absolute;
      display: block;
      z-index: -100;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      -webkit-transition: 1s opacity;
      -o-transition: 1s opacity;
      transition: 1s opacity;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      opacity: 0.6;
    }
  }

  &-ring {
    background-color: #1f2120;
    p {
      color: white;
      margin-top: 20px;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
    }
    p a {
      color: white;
      text-decoration: underline;
      transition: 0.2 all;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &-controles {
    background-color: #f8f9fa;
  }
  &-articles {
    margin-top: -100px;
    position: relative;
    z-index: 1;
  }
  &-proceso {
    padding-bottom: 100px;
  }
  &-guia {
    padding-top: 100px;
  }
  &-informacion {
    padding-top: 100px;
  }
  &-mt {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.blog.paged .section-articles {
  margin-top: 80px;
}
